.input-field{
    border: #5b38e3 solid 2px;
    outline: none !important;
    border-radius: 0px !important;
}
.input-field:focus{
    outline: none !important;
    border: #320390 solid 2px ;
    border-radius: 0px !important;
}
.form-control {  
    -webkit-box-shadow: none!important;
    outline: -webkit-focus-ring-color auto 0px!important;
} 