.header{
    margin-top: 100px;
}
.profile-heading{
    margin-top: 50px;
    font-family: "Darker Grotesque";
    font-size: 75px;
}
.mydescription{
    font-family: "Inter";
}
.myname{
    color: #5b38e3;
}


@media(max-width:780px){
    .header{
        margin-top: 0px;
    }
    .header-image{
        margin-top: 50px;
    }
    .profile-heading{
        font-size: 54px;
    }
}