.t-description{
    margin-top: 80px; 
    margin-left: 100px; 
    width: 600px;
}
.client-name{
    margin-left: 100px; 
    color: #5b38e3;
    font-family: "Darker Grotesque" ;
    font-size: 22px;
}
.review-container{
    margin-top: 40px;
    margin-bottom: 40px;
}



@media(max-width:600px){
    .review{
        flex-direction: column;
        align-items: center;
    }
    .review img{
        height: 340px;
        width: 340px;
    }
    .t-description{
        margin-top: 20px; 
        margin-left: 0px; 
        width: 340px;
    }
    .review-data{
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .client-name{
        margin-left: 0px;
    }
}